.header__hamburger {
    display: block;
}

.mobile-menu__inner{
	background-color: var(--color-bg-light-gray);
	opacity: 0;
	position: fixed;
	top: 0;
	z-index: 100;
	transform: translateX(-100%);
	transition: transform .4s, opacity .4s;
	transform-origin: left;
	height: 100%;
	width: 80%;
}

.mobile-menu__inner--active{
	transform: translateX(0);
	opacity: 1;
}

@media (--lg-viewport) {
  .mobile-menu {
    display: none;
  }
}


@media (--lg-viewport) {
    .header__hamburger {
        display: none;
    }
}