.button {
    font-family: var(--font-family);
    border: 1px solid #d6d6d6;
    border-radius: 42px;
    padding: 15px 10px;
    width: 100%;
    max-height: 59px;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: var(--color-black);
}

.button--yellow {
    background-color: var(--color-yellow);
}

.button--black {
    background-color: var(--color-black);
    color: var(--color-light-white);
}