.card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px
}

@media (--sm-viewport) {
  .card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (--xl-viewport) {
  .card {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card__item {
    display: flex;
    background-color: var(--background-card);
    border-radius: 20px;
    padding: 45px;
}

.card__item--bg-black {
    background-color: var(--color-black);
    color: var(--color-light-white);
}

.card__title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 25px;
    line-height: 116%;
    color: var(--text-primary);
    margin-bottom: 10px;
}

.card__title--white {
    color: var(--color-light-white);
}

.card__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    color: var(--text-secondary);
}

.card__text--white {
    color: var(--color-light-white);
}

.card__icon {

}

.card__icon--margin {
    margin-bottom: 20px;
    margin-left: -15px
}

.card__icon--mb-38 {
    margin-bottom: 38px;
}

.card__icon--mb-35 {
    margin-bottom: 35px;
}

.card__icon--mb-13 {
    margin-bottom: 14px;
}