.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px
}

.card__item {
    display: flex;
    background-color: var(--color-gray);
    border-radius: 20px;
    padding: 49px;
}