.header__top {
    background-color: var(--color-black);
    padding: 16px 0;
    color: var(--color-white);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__bot {
    background: rgba(27, 27, 27, 0.91);
    padding: 40px 0;
}

@media (--sm-viewport) {
    .header__container {
        
    }
}