.nav {
    display: none;
}

@media (--lg-viewport) {
  .nav {
    display: block;
  }
}

.nav__list {
    display: flex;
    gap: 15px;
}


@media (--xl-viewport) {
  .nav__list {
    gap: 30px;
  }
}

.nav__item {
    font-size: 17px;
    font-family: var(--font-family);
}

.nav__link {
    color: var(--color-light-white);
    padding: 2px;
    padding-left: 19px;
    position: relative;
}

.nav__link--active {
    color: var(--color-active-green);
}