.phone {
    border-radius: 42px;
    padding: 8px 41px 8px 10px;
    background: var(--background-secondary);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: var(--text-primary);
}

.phone__link {
    display: flex;
    align-items: center;
    gap: 12px;
}

.phone__icon {
    fill: var(--color-yellow);
    stroke: var(--color-black);
    transition: stroke 0.3s ease-in-out;
}
