.pricing {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.pricing__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 45px;
    line-height: 116%;
    text-align: center;
    color: var(--text-primary);
}

.pricing__plans {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 49px; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 49px;
}

@media (--xl-viewport) {
  .pricing__plans {
    grid-template-columns: repeat(3, 1fr);
  }
}