.process {
    display: flex;
    flex-direction: column;
    column-gap: 80px;
}

@media (--lg-viewport) {
    .process {
        flex-direction: row;
    }
}

.process__media {
    padding: 55px 0;
}

.process__media--w-120 {
    width: 100%;
}

@media (--md-viewport)) {
    .process__media--w-120 {
        width: 120%;
    }
}

.process__article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
}

.process__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 45px;
    line-height: 116%;
    color: var(--text-primary);
}

.process__item-title {
    display: flex;
    gap: 18px;
    font-weight: 600;
    font-size: 20px;
    line-height: 116%;
    color: var(--text-primary);
}

.process__item-title--mb-9 {
    margin-bottom: 9px;
}

.process__text {
    padding-left: 50px;
    color: var(--text-secondary);
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
}

.process__icon path{
    fill: var(--color-icons);
}

