.social {
    gap: 25px;
    align-items: center;
    justify-content: space-around;
}

.d-flex {
    display: flex;
}

.social__link {
    display: flex;
    align-items: center;
    transition: outline 0.3s ease-in-out;
}

.t-17 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    color: var(--color-white);
    margin: 0;
}

.social__svg {
    fill: var(--color-white);
    width: 20px;
    height: 20px;
    transition: fill 0.3s ease-in-out;
}