.tag {
    text-align: center;
    font-family: var(--font-family);
    background-color: var(--color-yellow);
    border-radius: 20px;
    width: 118px;
    height: 24px;
    letter-spacing: 0.14em;
    margin-bottom: 25px;
}

.tag--green-center {
    background-color: var(--color-green);
    font-family: var(--font-family);
    width: 120px;
    letter-spacing: 0.14em;
    text-align: center;
    color: var(--color-light-white);
    margin-bottom: 0;
}