.tag {
    text-align: center;
    font-family: var(--font-family);
    background-color: var(--color-yellow);
    border-radius: 20px;
    padding: 4px 15px;
    line-height: 1;
    display: inline-block;
    letter-spacing: 0.14em;
}

.tag--green {
    background-color: var(--color-green);
    color: var(--color-light-white);
}

.tag--gray {
    background-color: var(--color-tag-gray);
}