:root {
  --color-white: #e3e3e3;
  --color-light-white: #FFFFFF;
  --color-black: #181818;
  --color-light-black: #353535;
  --color-gray: #ebebeb;
  --color-section-bg: #f5f5f5;
  --color-text-gray: #595566;
  --color-yellow: #FFCC4A;
  --color-green: #4EAF4E;
  --color-active-green: #5ab612;
  --color-tag-gray: #3E3E3E;
  --font-family: "Lato", sans-serif;
  --second-family: "Cabin", sans-serif;
}